.albums__title,
.albums {
    padding: 2rem 0rem;
}

.albums__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.album {
    background-color: var(--color-gray-7);
    border-radius: var(--border-radius);
    flex: 1 1 calc(33.33% - 1rem);
    min-width: 308px;
}

.album--dark-mode {
    background-color: var(--color-gray-2);
}

.album:hover {
    background-color: var(--color-gray-5);
}

.album--dark-mode:hover {
    background-color: var(--color-gray-4);
}

.album__image {
    width: 100%;
    height: 308px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.album-detail {
    padding: 0rem 1rem;
}

.album-detail__title {
    padding: 0.5rem 0rem;
}

.album-subtitle {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

.album-subtitle p {
    font-size: var(--font-size-text-1);
    font-weight: var(--font-weight-text-1);
    color: var(--color-gray-3);
}

.album-subtitle .p--dark-mode {
    color: var(--color-gray-6)
}

.p--dark-mode {
    color: var(--color-gray-7);
}

.album-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

.album-price p {
    font-size: var(--font-size-text-2);
    font-weight: var(--font-weight-text-2);
}

.album-price button {
    border-radius: var(--border-radius);
    background-color: var(--color-brand-2);
    color: var(--color-gray-7);
    padding: 10px 10px;
    cursor: pointer;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    border: none;
}

.album-price button:hover {
    background-color: var(--color-brand-1);
}