.genre {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    gap: 14px;
}

.genre__options,
.genre__title {
    padding: 16px 0px;
}

.genre__button {
    border: 1px solid var(--color-gray-6);
    border-radius: var(--border-radius);
    background-color: var(--color-gray-6);
    color: var(--color-gray-3);
    padding: 10.2px 11.2px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
}

.genre__button--dark-mode {
    border: 1px solid var(--color-gray-2);
    background-color: var(--color-gray-2);
    color: var(--color-gray-6);
}

.genre__button:hover {
    border: 1px solid var(--color-gray-2);
}

.genre__button--dark-mode:hover {
    border: 1px solid var(--color-gray-6);
}

.genre__button.selected {
    background-color: var(--color-gray-2);
    border: 1px solid var(--color-gray-2);
    color: var(--color-gray-7);
}

.genre__button--dark-mode.selected {
    background-color: var(--color-gray-7);
    border: 1px solid var(--color-gray-7);
    color: var(--color-gray-2);
}