.price-range {
    padding: 2rem 0rem;
}

.price-range__title {
    display: flex;
    padding: 2rem 0rem;
    justify-content: space-between;
}

.price-range__title3--highlight {
    color: var(--color-brand-1)
}

#range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    outline: none;
    background-color: var(--color-brand-1);
    border-radius: 0.5rem;
    height: 0.5rem;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 0.5rem solid var(--color-brand-1);
}